<!DOCTYPE html>
<html>
  <head>
    <title>Horus Heresy: Age of Darkness Special Rules</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <div class="container">
      <h1 class="title">Horus Heresy: Age of Darkness<br>Special Rules</h1>
      <div class="accordion" id="rules-accordion">
        <% var colourFlip = true %>
        <% rules.forEach(rule => { %>
          <% var bgColour = colourFlip ? "Gainsboro" : "DarkGrey" %>
          <div class="accordion-item">
            <!-- <button class="collapsible collapsed" type="button" style="background-color:<%- bgColour %>" data-bs-toggle="collapse" data-bs-target="#<%- rule.id %>" aria-expanded="false" aria-controls="<%- rule.id %>"> -->
            <h2 class="accordion-header" id="heading<%- rule.id %>"></h2>
            <button class="accordion-button collapsed rule-title" style="background-color:<%- bgColour %>" type="button" data-bs-toggle="collapse" data-bs-target="#rule<%- rule.id %>" aria-expanded="false" aria-controls="rule<%- rule.id %>">
              <%= rule.name %>

            </button>
            <div id="rule<%- rule.id %>" class="accordion-collapse collapse" data-bs-parent="#rules-accordion" aria-labelledby="headingOne" >
              <p class="flavour"><%- rule.flavour %></p>
              <div class="ruletext"><%- rule.text %></div>
              <p class="source">Source: <%- rule.source %></p>
            </div>
          </div>
          <% colourFlip = !colourFlip %>
        <% }) %>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
